<nav class="navbar navbar-expand-md navbar-light bg-light p-0 shadow mb-2">
  <a href="/dashboard" class="navbar-brand ms-4">
    Health Tracker
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a href="/dashboard" class="nav-item nav-link ">Home</a>
      <a href="/journal" class="nav-item nav-link">Journals</a>
      <a href="#" class="nav-item nav-link">Calorie Counter</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a href="#" class="nav-item nav-link">Logout</a>
    </div>
  </div>
</nav>