*{margin: 0; padding: 0;}

body{
  margin:0;
  /* background-color #87CEFA; */
  background-color: skyblue;
  color: springgreen;
  line-height: 1.6;
}


.the_box {
  margin:0;
  /* background-color #87CEFA; */
  text-align: center;;
  width: 600px;
  height: auto;
  padding: 40px 40px;
  background-color:skyblue;
  border-radius: 20px;

  margin: auto;

  font-family: serif;
  font-size: 30px;
  line-height: 1.6;

}


#pic{
  background-image: url('/logo_transparent.png');
  height: 80vh;
  background-size: cover;
  background-position: center;;
}
