<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Delete account</title>
    <link rel="stylesheet" href="./stylesheets/changeInfo.css">
  </head>
  <body>

  <div class="my_form_box">
    <form class="" action="/deleteUser?_method=DELETE" method="post" >
      <ul class="list">
      <li><h2>Are you sure you want to delete your account</h2></li>
      <li><input type="submit" name="sub" value="Delete"></li>
      <li> <a href="/infoPage"> NO</a></li>
    </ul>
    </form>
  </div>


  </body>

</html>
