<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <link rel="stylesheet" href="./stylesheets/index.css">
</head>

<body>
  <%- include ("../partials/nav.ejs") %>


<div class="container">
  <img src="logo_transparent.png" alt="" style="width:100%;">
  <div class="centered"><h1 style="font-size:8vw;">Welcome!</div>
    <div class="centered_2"><h1 style="font-size:8vw;">to</div>
</div>

</body>
</html>
