<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <link rel="stylesheet" href="./stylesheets/index.css">
</head>

<body>
  <%- include ("../partials/nav.ejs") %>

<div class="the_box">
  <header id="pic">

  </header>
</div>
</body>
</html>
