<!DOCTYPE html>
<html>
<head>
  <title>Health Tracker</title>
  <%- include ("../partials/header.ejs") %>
  <link rel="stylesheet" href="./stylesheets/index.css">
</head>

<body>
  <%- include ("../partials/nav.ejs") %>

<div class="container">
  <img src="logo_transparent.png" alt="health tracker logo" class="image" style="width:100%;">
  <div class="centered"><h1 style="font-size:8vw;">Welcome!</div>
    <div class="centered_2"><h1 style="font-size:8vw;">to</div>
        <div class="bottom"><h1 style="font-size:2vw;"><a href="about.html">Read More </a> </div>
      <div class="box_middle">
      <div class="centered_3"><h1 style="font-size:8vw;"><a href="SignUp.html"> Join us now!</a> </div>
      </div>
</div>

</body>
</html>
