<!DOCTYPE html>
<html>

<head>
    <title>Calorie Finder</title>
    <%- include ("../../partials/header.ejs") %>

</head>

<body>
    <%- include ("../../partials/nav_home.ejs") %>

    <div class="container">
        <h1 class="">Calorie Finder</h1>
        <form action="/food_find/redirect" method="GET">
            <div class="form-group">
                <label for="title">Food Item</label>
                <input required type="text" name="food_item" id="food_item" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Find</button>
        </form>

        <!-- <=item> -->

    </div>

</body>

</html>